
# Created by https://www.gitignore.io/api/linux,libreoffice,microsoftoffice,java,netbeans

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


### LibreOffice ###
# LibreOffice locks
.~lock.*#


### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*
*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*
*.ppt*

# Visio autosave temporary files
*.~vsdx


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/travel-agency/nbproject/private/
